#
#	Configuration file for the rlm_attr_filter module.
#	Please see rlm_attr_filter(5) manpage for more information.
#

# The rest of this file contains the DEFAULT entry.
# DEFAULT matches with all realm names.

DEFAULT
	Calling-Station-Id =* ANY,
	Called-Station-Id =* ANY,
	Operator-Name =* ANY,
	User-Name =* ANY,
	User-Password =* ANY,
	CHAP-Challenge =* ANY,
	MS-CHAP-Challenge =* ANY,
	MS-CHAP-Response =* ANY,
	EAP-Message =* ANY,
	Message-Authenticator =* ANY,
	State =* ANY,
	NAS-IP-Address =* ANY,
	NAS-Identifier =* ANY,
	Proxy-State =* ANY
